* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #180F33 0%, #220863 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik";
    color:#FFFFFF;
    
}

@font-face {
    font-family: "Rubik";
    src: url(./fonts/Rubik-VariableFont_wght.ttf),
         url(./fonts/Rubik-Italic-VariableFont_wght.ttf);
}