body {
    flex-direction: column;
}

.cabecario {
    display: flex;
}

.nome__principal {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    display: flex;
    width: 90vw;
    text-align: left;
}

.caixa__maior {
    justify-content: center;
    width: 90%;
    height: 80%;
    /*altura*/
    background: #32236D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    padding: 1rem 0;
}

.realizacao {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

img {
    width: 98px;
    box-sizing: border-box;
    margin-left: 40%;
    background-image: none !important;
    padding-top: 5%;
}

.form__button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.botao__entrar {
    background: #FF276F;
    border-radius: 6px;
    width: 154px;
    height: 50px;
    color: #FFFFFF;
    box-shadow: 10px 10px 80px #FF276F;
    border: #FF276F;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
