body {
    display: flex;
    align-items: left;
}

div {
    color: #FFFFFF 2px solid;
}

.bloco_inteiro {
    display: flex;
}

.lado_esquerdo {
    width: 25vw;
    height: 7vw;
    background: #32236D;
    display: flex;
    align-items: left;
    margin-left: -50vw;
    margin-top: 1vw;
}

.contatos {
    display: flex;
}

.imagem_seta {
    padding-top: 100%;
}

.texto_contato {
    padding-left: 35%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-top: 17%;
}

.quadro_menor {
    width: 25vw;
    height: 40vw;
    background: #261855;
    margin-left: -25vw;
    margin-top: 8vw;
}

.novo_contato {
    display: flex;
}

.botao_add {
    width: 20vw;
    height: 2.3vw;
    background: #FF276F;
    border-radius: 6px;
    border: 6px solid #FF276F;
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
}

.icone_add {
    display: flex;
    padding-left: 5%;
}

.texto_novo_contato {
    display: flex;
    padding-left: 10%;
    padding-top: 0.5%;
}

a {
    color: #FFFFFF;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.lista_contatos{
    display: flex;
    padding:1rem;
    justify-content: space-around;
}
.contato-fixo{
display: flex;
padding:0.2em;

}
.icone_contato {
width: 55px;
height: 50px;
box-sizing: border-box;
border-radius: 50%;
display: flex;
margin-left: -15%;
margin-top: -8%;
}
.detalhe-nome{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
display: flex;

}
.detalhe-telefone{
font-weight: normal;
font-size: 15px;
line-height: 19px;
color: rgba(255, 255, 255, 0.6);
padding-top: 10%;
padding-left: -100%;
display:flex;


}
