div {
    /* border: red solid 1px; */
    float: left;
}

body {
    display: block;
}

.caixaEsquerda {
    width: 35%;
    height: 100%;
    background: rgba(38, 24, 85, 1);
}

.caixa-topo {
    width: 100%;
    height: 15%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    background: rgba(50, 35, 109, 1);
}

.caixatopoEsquerda {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.caixatopoDireita {
    margin: auto 0px;
}

.fotoSelecionada {
    width: 60px;
    border-radius: 50%;
    border: 3px solid #FF276F;
    height: 60px;
    cursor: pointer;
}

.fotoNaoSelecionada {
    width: 60px;
    border-radius: 50%;
    opacity: 60%;
    cursor: pointer;
    align-items: center;
    height: 60px;
}

#imagemPerfil1 {
    cursor: pointer;
}

.configs {
    margin-top: 17%;
    margin-left: 2px;
    margin-right: 2px;
}

.perfis {
    margin-right: 3vh;
    cursor: pointer;
}

.contatos {
    margin-right: 3vh;
    cursor: pointer;
}

.novaConversa {
    margin-right: 1vh;
}

.conversas {
    width: 100%;
    justify-content: center;
    height: 4%;
    background: rgba(38, 24, 85, 1);
}

.detalhe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pesquisar {
    width: 100%;
    height: 4%;
}

.barraDePesquisa {
    width: 100%;
    height: 4vh;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

.listaConversas li {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
}

.conversaSelecionada {
    background-color: #32236D;
}

.listaConversas li:hover {
    background-color: #32236D;
}

.imagem {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    align-self: center;
}

.nome {
    font-size: 22px;
}

.ultimaMensagem {
    font-size: 16px;
    opacity: 60%;
}

.listaConversas {
    width: 100%;
    height: 80vh;
    justify-content: right;
    overflow: auto;
}

.caixaDireita {
    width: 65%;
    height: 100%;
}

.usuarioConversa {
    display: flex;
    width: 100%;
    height: 15%;
    background: rgba(38, 24, 85, 1);
    justify-content: flex-start;
}

.status {
    font-size: 16px;
    opacity: 60%;
}

.chat {
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: space-between;
    background-image: url(../imagens/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.mensagens {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
}

.mensagemUsuario1 {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2px;
}

.mensagemUsuario2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2px;
}

.mensagem {
    border-radius: 30px;
    display: flex;
    min-height: 55px;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 60%;
}

.mensagemUsuario1 p {
    background-color: #3EBCB4;
}

.mensagemUsuario2 p {
    background-color: #32236D;
}

.campo {
    width: 100%;
    height: 10%;
    justify-content: space-between;
    display: flex;
    background: rgba(50, 35, 109, 1);
}

.emoji {
    display: flex;
}

.enviar {
    width: 10px;
    height: 50%;
}

.mensagemRecebida {
    width: 50%;
}

.mensagemEnviada {
    width: 50%;
}

textarea {
    width: 80%;
    height: 50%;
    border-radius: 5px;
    padding: 5px;
}

.enviar {
    width: 8%;
    margin: 10px 10px 10px 0;
}

.mensagemUsuario {
    width: 90%;
    height: 80%;
    font-family: "Rubik";
    font-size: 17px;
    margin: 10px;
}